@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
// @include foundation-grid;
// @include foundation-flex-grid;
//
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;



$margin-top: 100px;


.floss-wrapper {
  overflow-x: hidden;
}



 @mixin tablet {
   @media (min-width: #{$tablet}) and (max-width: #{$desktop}) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
     @content;
   }
 }

 @mixin tabletport {
   @media (min-width: #{$tablet}) and (max-width: #{$desktop}) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
     @content;
   }
 }

 @mixin mobileland {
   @media (max-width: #{$mobile}) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
     @content;
   }
 }

 @mixin mobileport {
   @media (max-width: #{$mobile}) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
     @content;
   }
 }

 @mixin xlarge-only {
   @media (min-width: 1400px) and (max-width: 1700px) {
     @content;
   }
 }

 $desktop: 1200px;
 $laptop: 992px;
 $tablet: 760px;
 $mobile: 750px;


// Hero Section


.hero {
  position: relative;
  z-index: -1;
  margin-top: -4.38rem;
  @include mobileland {
    margin-top: -7rem;
  }
  @include mobileport {
    margin-top: -7.38rem;
  }
  .grid-container {
    padding-left: 0;
    padding-right: 0;
  }

  &__image {
    background: url(../img/hero_image.png);
    height: 970px;
    background-size: cover;
    position: relative;
  }

  &__text {
    position: absolute;
    top: 40%;
    color: white;
    // font-family: $poppin;
    h1 {
      font-size: 1.563rem;
      font-weight: 300;
      letter-spacing: 0.2rem;
      text-align: center;
      font-family: Poppins;
      font-weight: 300;
    }
  }
  img {
    display: block;
    margin: 0 auto;
  }
}



// Upper Below Fold Section

.flossstones {

  margin-top: 15px;

  .grid-container {
    padding-left: 0;
    padding-right: 0;
  }

  &__hero {
    background-image: url(../img/floss_stones.jpg);
    background-size: cover;
    height: 672px;
    background-position: right;
    @include mobileport {
      background-position: center;
    }
  }

  &__text {
    text-align: right;
    color: #7d4900;
    font-weight: 400;
    position: relative;
    top: 15rem;

    h1 {
      font-size: 3.688rem;
      letter-spacing: 0.094rem;
      padding-right: 112px;
      margin-top: -20px;
      span {
        font-size: 1.5rem;
        position: relative;
        top: -20px;
        right: 20px;
      }
    }
    h2 {
      font-size: 2.813rem;
      letter-spacing: 0.072rem;
      font-family: Poppins;
      font-weight: 400;
      padding-right: 235px;
    }
    @include mobileport {
      display: none;
    }
  }
}


.mission-section {
  text-align: center;
  margin-top: $margin-top;
  h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 40px;
  }
  p {
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    line-height: 2.125rem;
    color: #707070;
    letter-spacing: 0.05rem;
  }
}

// Main Floss Stone Products Section

.products {
  margin-top: $margin-top;

  .grid-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .medium-left {
    padding-right: 5px;
    @include mobileport {
      padding-right: 0;
    }
  }

  .medium-right {
    padding-left: 5px;
    @include mobileport {
      padding-left: 0;
    }
  }

  &__left-section {
    background-color: #e0eae5;
    height: 601px;
    padding-left: 3.4rem;
    padding-top: 5.5rem;

    @include breakpoint(xlarge down) {
      padding-left: 1rem;
      padding-top: 2.5rem;
    }

    @include tablet {
      padding-top: 1rem;
    }

    @include mobileport {
      height: auto;
    }

    h1 {
      color: #111111;
      font-family: Poppins;
      font-size: 2rem;
      font-weight: 400;
      line-height: 2.125rem;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
    }
    h1, h3 {
      margin-bottom: 0;
    }
    h3 {
      .tm {
        font-size: 1rem;
        position: relative;
        top: -10px;
      }
      .price {
        font-family: Poppins;
        font-weight: 300;
        padding-left: 40px;
      }
      .ea {
        font-family: Poppins;
        font-weight: 300;
        font-size: 1.3rem;
      }
    }
    p {
      color: #333333;
      font-family: Poppins;
      font-size: 1rem;
      font-weight: 400;
      line-height: 2.125rem;
      letter-spacing: 0.05rem;
      padding-right: 7.1rem;
      padding-top: 1rem;
      @include breakpoint(large down) {
        padding-right: 1rem;
        font-size: 0.8rem;
      }
    }

    .small {
      font-size: 0.688rem;
      font-weight: 400;
      padding-right: 25rem;
      font-style: italic;
      line-height: 1rem;
      margin-bottom: 0;
      @include breakpoint(xxlarge down) {
        padding-right: 2rem;
      }
      @include breakpoint(large down) {
        padding-right: 1rem;
      }
    }

    .button-grid {
      padding-top: 1.5rem;
    }

    .xlarge-4 {
      h6 {
        font-family: Poppins;
        font-size: 1rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        margin-top: 0.7rem;
        padding-left: 20px;
        @include breakpoint(xlarge down) {
          padding-left: 10px;
          font-size: 0.8rem;
        }
        @include tablet {
          padding-left: 0;
          font-size: 1rem;
        }
      }
      .round-button-group {
        margin-top: 0.4rem;
      }
    }

    .round-button {
      border-radius: 100%;
      width: 1.5rem;
      height: 1.5rem;
      border: 0.188rem solid #ffffff;
      margin-left: 5px;
      margin-right: 5px;
      @include tablet {
        margin-right: 0;
      }
      &:nth-child(1) {
        background-color: #f2f0f0;
      }
      &:nth-child(2) {
        background-color: #c39968;
      }
      &:nth-child(3) {
        background-color: #7d4900;
      }
      &:nth-child(4) {
        background-color: #b7b7b7;
      }
      &:nth-child(5) {
        background-color: #534741;
      }
    }
  }

  .active {
    border: 0.188rem solid #8da3af;
  }

  &__button {
    background-color: #8da3af;
    color: white;
    height: 3.125rem;
    font-family: Poppins;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 2.125rem;
    text-transform: uppercase;
    padding: 0.5em 0.7em;
  }

  &__right-section {
    padding: 0;
    .orbit-container {
      height: 600px;
      img {
        height: 600px;
        @include mobileport {
          height: 450px;
        }
      }
    }
    .orbit-previous {
      margin-top: 250px;
      margin-left: 82%;
      width: 3.75rem;
      height: 3.688rem;
      @include breakpoint(xlarge down) {
        margin-left: 80%;
      }
      @include breakpoint(large down) {
        margin-left: 78%;
      }
      @include breakpoint(medium only) {
        margin-left: 86%;
      }
      @include breakpoint(small only) {
        margin-left: 70%;
      }
      @include tabletport {
        margin-left: 83%;
      }
      @include mobileland {
        margin-left: 82%;
      }
      @include mobileport {
        margin-left: 68%;
        margin-top: 180px;
      }
      background-color: #c39968;

      @include tablet {
        margin-left: 75%;
        margin-top: 50%;
      }
    }
    .orbit-next {
      width: 3.75rem;
      height: 3.688rem;
      background-color: #c39968;
      margin-top: 250px;
      @include tablet {
        margin-top: 50%;
      }
      @include mobileport {
        margin-top: 180px;
      }
    }
  }
}


// Input Cart Section

$input-number-size: 80px;
.input-group {
  margin-bottom: 1px;
  background-color: #8da3af;
  color: white;
}

.input-number-group {
  display: flex;
  justify-content: center;
  width: auto;
  padding-top: 0.3rem;
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    appearance: none;
  }

  .input-group-button {
    line-height: calc(#{$input-number-size}/2 - 5px);
  }

  .input-number {
    width: 40px;
    padding: 0 12px;
    vertical-align: top;
    text-align: center;
    outline: none;
    display: block;
    margin: 0;
    background-color: #8da3af;
    border: none;
    color: white;
    box-shadow: none;
  }

  .input-number,
  .input-number-decrement,
  .input-number-increment {
    height: $input-number-size/2;
    user-select: none;
    border-radius: $global-radius;
  }

  .input-number-decrement,
  .input-number-increment {
    display: inline-block;
    width: $input-number-size/2;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 400;
  }

  .input-number-decrement {
    margin-right: 0;
    margin-top: 3px;
  }

  .input-number-increment {
    margin-left: 0;
    margin-top: 3px;
  }
}

// End Input Cart Section


.charity {
  margin-top: 70px;
  .grid-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  &__background {
    background-image: url(../img/charity_image.jpg);
    height: 445px;
    background-size: cover;
    @include breakpoint(xlarge down) {
      background-position: center;
    }
    @include tabletport {
      height: 616px;
    }
    @include mobileport {
      background: #b7b7b7;
      height: auto;
    }
    .medium-5 {
      margin-left: 50px;
      @include tablet {
        margin-left: 30px;
      }
      @include mobileland {
        margin-left: 20px;
      }
      @include mobileport {
        margin-left: 10px;
      }
    }
  }
  h1 {
    color: #333333;
    font-family: Poppins;
    font-size: 2.938rem;
    font-weight: 400;
    line-height: 3.344rem;
    letter-spacing: 0.094rem;
    margin-top: 50px;
    @include breakpoint(xlarge down) {
      font-size: 2rem;
    }
    @include tablet {
      margin-top: 23px;
      font-size: 1.9rem;
    }
    @include mobileland {
      margin-top: 15px;
      line-height: 2.2rem;
      font-size: 1.3rem

    }
    @include mobileport {
      margin-top: 20px;
    }
  }
  p {
    color: #ea5e03;
    margin-top: 20px;
    font-family: Poppins;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.875rem;
    padding-right: 14%;
    @include breakpoint(xlarge down) {
      font-size: 1rem;
    }
  }
  .button {
    background-color: #8da3af;
    color: #ffffff;
    font-family: Poppins;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.066rem;
    float: right;
    margin-right: 130px;
    @include breakpoint(xlarge down) {
      float: left;
    }
    @include mobileport {
      margin-bottom: 20px;
    }
  }
}

.flossimages {
  position: relative;
  z-index: 1;
  @include mobileport {
    display: none;
  }
  .cell {
    &:first-child {
      margin-top: -80px;
    }
    &:nth-child(2) {
      position: absolute;
      left: 100px;
      top: 40px;
      @include tabletport {
        top: 200px;
      }
    }
    &:nth-child(3) {
      position: absolute;
      top: 460px;
      right: 65px;
      @include tabletport {
        top: 650px;
        right: 0;
      }
    }
  }
}


.story {
  @extend .mission-section;
  .grid-container {
    max-width: 95rem;
  }
  p {
    margin-bottom: 0px;
    @include breakpoint(xlarge down) {
      padding: 0 10rem;
      line-height: 2.2rem;
      margin-bottom: 1rem;
    }
    @include breakpoint(large down) {
      padding: 0;
    }
  }
}

.check-back {
  margin-top: $margin-top;
  background-color: #f4f4f4;
  height: 12.375rem;
  text-align: center;
  h1 {
    color: #111111;
    font-family: Poppins;
    font-style: italic;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.125rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding-top: 7.5%;
  }
}


@import "components/cart";
@import "components/partials/navigation";
@import "components/partials/footer";
