
.upper-nav-details {
  .medium-2 {
        @include mobileland {
          width: 20.6%;
        }
  }
  .large-9 {
    text-align: right;
    width: 65%;
    @include mobileland {
      width: 61%;
    }
    @include mobileport {
      width: 45%;
    }
  }
  .small-6 {
    @include mobileport {
      width: 48%;
    }
  }
  .medium-7 {
    @include tabletport {
      width: 63.3333%;
    }
  }
  p {
    position: relative;
    top: 2.3rem;
    color: #ffffff;
    font-family: Poppins;
    font-size: 1.063rem;
    font-weight: 500;
    line-height: 3.046rem;
    letter-spacing: 0.038rem;
    left: 60px;
    @include mobileport {
      font-size: 0.9rem;
      left: -30px;
      top: 1rem;
    }
  }
  &__phone {
    p {
      left: -2.8rem;
      @include mobileport {
        font-size: 0.9rem;
        left: 0;
        top: 1rem;
      }
    }
  }
  .small-offset-6 {
    margin-left: 53.5%;
  }
}

.top-bar {
  position: absolute;
  width: 88%;
  top: 100px;
  margin-left: 6%;
  background-color: #ffffff;
  height: 10.13rem;

  @include breakpoint(large down) {
    width: 100%;
    margin: 0
  }

  @include mobileport {
    padding: 0;
    top: 112px;
  }

  ul {
    background-color: #ffffff;
    height: 10.13rem;
  }

  a {
    color: #777777;
    font-family: Poppins;
    font-size: 1.313rem;
    font-weight: 300;
    line-height: 2.765rem;
    padding: 1.5rem 3rem;
    @include breakpoint(xlarge down) {
      padding: 2rem 1.5rem;
      font-size: 1.313rem;
    }
    @include breakpoint(medium down) {
      font-size: 1.013rem;
      padding: 2rem 1rem;
    }
  }

  &__logo {
    margin: 2rem 2rem;
    @include breakpoint(large down) {
      margin: 2rem 1rem;
    }
  }

}

.title-bar {
  height: 3rem;
  background-color: #c39968;
}
