
.upper-nav-details {
  p {
    position: relative;
    top: 2.3rem;
    color: #ffffff;
    font-family: Poppins;
    font-size: 1.063rem;
    font-weight: 500;
    line-height: 3.046rem;
    letter-spacing: 0.038rem;
  }
  &__phone {
    p {
      left: -2.8rem;
    }
  }
  .small-offset-6 {
    margin-left: 53.5%;
    @include breakpoint(xlarge down) {

    }
  }
}

.top-bar {
  position: absolute;
  width: 88%;
  top: 100px;
  margin-left: 6%;
  background-color: #ffffff;
  height: 10.13rem;

  @include breakpoint(large down) {
    width: 100%;
    margin: 0
  }

  ul {
    background-color: #ffffff;
    height: 10.13rem;
  }

  a {
    color: #777777;
    font-family: Poppins;
    font-size: 1.313rem;
    font-weight: 300;
    line-height: 2.765rem;
    padding: 1.5rem 4rem;
    @include breakpoint(xlarge down) {
      padding: 2rem 1.5rem;
      font-size: 1.313rem;
    }
    @include breakpoint(medium down) {
      font-size: 1.013rem;
      padding: 2rem 1rem;
    }
  }

  &__logo {
    margin: 2rem 2rem;
    @include breakpoint(large down) {
      margin: 2rem 1rem;
    }
  }

}
