.brighten-footer {
  height: 23.25rem;
  background-color: #8da3af;
  color: white;
  .grid-container {
    padding-left: 8rem;
    padding-top: 6.3rem;
  }

  h3 {
    color: #dddddd;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 3.25rem;
  }
  p {
    color: #ffffff;
    font-family: Poppins;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.625rem;
    letter-spacing: 0.088rem;
  }
}
