<div class="upper-nav-details">
  <div class="grid-container fluid">
    <div class="grid-x">
      <div class="cell small-2 small-offset-1 upper-nav-details__phone">
        <p>800-897-6951</p>
      </div>
      <div class="cell small-2 small-offset-6 upper-nav-details__email">
        <p>info@brightenupmysmile.com</p>
      </div>
    </div>
  </div>
</div>

<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="top-bar__logo"> <img src="{{root}}assets/img/navigation-logo.png" alt=""></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="index.html">HOME</a></li>
      <li><a href="#product_link">SHOP</a></li>
      <li><a href="#story_link">OUR STORY</a></li>
      <li><a href="#contact_link">CONTACT</a></li>
      <li><a href="cart.html"><i class="fas fa-shopping-basket"></i></a></li>
    </ul>
  </div>
</div>
