<footer class="brighten-footer">

<div class="grid-container fluid">
  <div class="grid-x">
    <div class="cell small-3">
      <img src="{{root}}assets/img/footer_logo.png" alt="">
      <p><small>© 2018 Brighten Up My Smile | All Rights Reserved Powered by North Creative Design Co., LLC</small></p>
    </div>
    <div class="cell small-2 small-offset-1">
      <h3>CONTANT</h3>
      <div class="grid-x">
        <div class="cell small-12">
          <div class="grid-x">
            <div class="cell small-2">
              <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="cell small-10">
              <p>P.O. Box 210355 Auke Bay, Alaska 99821</p>
            </div>
            <div class="small-2 cell">
              <i class="fas fa-phone"></i>
            </div>
            <div class="cell small-10">
              <p>800-897-6951</p>
            </div>
            <div class="cell small-2">
              <i class="far fa-envelope"></i>
            </div>
            <div class="cell small-10">
              <p>info@brightenupmysmile.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cell small-2 small-offset-1">
      <h3>OUR SERVICE</h3>
      <p>Help/FAQ's</p>
      <p>CONTACT Us</p>
    </div>
    <div class="cell small-2 small-offset-1">
      <h3>SOCIAL</h3>
      <p>Facebook<p>
      <p>Instagram</p>
    </div>

  </div>
</div>

</footer>
